
  
/* .CakeDiv {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 500px;
    margin: 10px auto;
  } */
  
.layer {
    position: relative;
    background-color: chocolate;
    border-bottom: 1px solid black;
  }
  
.top {
    border-bottom: 1px solid black;
    border-radius: 50%;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }